@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Unbounded:wght@400;600;800&display=swap');

body {
    margin: 0;
    font-family: "Manrope", "Helvetica Neue", sans-serif;
    background: #f7f2ea;
    color: #1b1b1b;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
